<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 15pt;
color: black;
background-color: white;

}
h1 {
font-size: 40px;
text-align: center;
}


 th { border:  solid orange; } </style>
<head>
    <meta charset="UTF-8">
    <title>Employees</title>

</head>
<body>
<div align="center">
    <div><h2>Employees</h2></div>
    <div>
        <p><a th:href="@{/employee/new}">Add New Employee</a><p>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Password</th>
                <th>Gross Salary</th>
                <th>Tax Contract Of Employment</th>
                <th>Contract Of Employment</th>
                <th>Tax Contract Of Mandate</th>
                <th>Contract Of Mandate</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="employee : ${listEmployees}">
                <tr>
                    <td>[[${employee.id}]]</td>
                    <td>[[${employee.name}]]</td>
                    <td>[[${employee.last_name}]]</td>
                    <td>[[${employee.password}]]</td>
                    <td>[[${employee.grossSalary}]]</td>
                    <td>[[${employee.taxContractOfEmployment}]]</td>
                    <td>[[${employee.contractOfEmployment}]]</td>
                    <td>[[${employee.taxContractOfMandate}]]</td>
                    <td>[[${employee.contractOfMandate}]]</td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <a href="/employees">Domyślnie</a>
        <a href="/employees?sort">Sort</a>
    </div>
<a href="/registration"><button>registration</button></a>
</div>

</body>
</html>